@import "../../styles/base/variables";
.forbidden-page {
  main {
    padding: 40px;
    text-align: center;

    h1 {
      font-size: 36px;
      color: $primary-color;
      margin-bottom: 16px;
    }

    p {
      font-size: 18px;
      color: $text-color;
    }
  }
}
