@use '../base/variables' as vars;
@use '../base/mixin' as mix;

.otp-page__container {
    min-height: 100vh;
    background: #F3F6FB;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
}

.otp-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    width: 100%;
    max-width: 340px;
    margin: 0 auto;

    .otp-title {
        color: #1b2b41;
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 8px;
        text-align: center;
        letter-spacing: 1px;
        font-family: vars.$font-primary;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .otp-description {
        color: #6b7280;
        font-size: 17px;
        text-align: center;
        margin-bottom: 35px;
        line-height: 1.5;
        font: vars.$font-secondary;
    }

    .otp-inputs {
        display: flex;
        gap: 16px;
        margin-bottom: 22px;
        justify-content: center;

        .otp-input {
            width: 44px;
            height: 44px;
            border: 2px solid #222;
            border-radius: 6px;
            font-size: 22px;
            text-align: center;
            background: #fff;
            color: #1b2b41;
            font-weight: 600;
            transition: border-color 0.2s, box-shadow 0.2s;

            &:focus {
                border-color: #d81928;
                box-shadow: 0 0 0 2px rgba(216, 25, 40, 0.15);
                outline: none;
            }
        }
    }

    .verify-button {
        background: #d32f2f;
        color: #fff;
        border: none;
        border-radius: 24px;
        padding: 10px 36px;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 16px;
        cursor: pointer;
        transition: background 0.2s;

        &:hover {
            background: #C21121;
        }
    }

    .resend-text {
        font-size: 15px;
        color: #222;
        text-align: center;
        margin-top: 100px;
        margin-bottom: 0;

        .resend-button {
            background: none;
            border: none;
            color: #d32f2f;
            font-weight: bold;
            cursor: pointer;
            padding: 0;
            margin-left: 2px;
            font-size: 18px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}